/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	/* font-family: 'Times New Roman', serif;  */
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header a {
  color: rgb(152,173,166);
  text-decoration: none;
}

h1 {
  color: #98ADA6;
  font-size: 5em;
  font-weight: 700;
  padding: 10px 0;
  margin: 0 0 5px;
  padding-bottom: 10px;
  font-family: "Baskerville";
  src: url("../fonts/Baskerville.ttc");
  
}


hr {
  color: #CCCCCC;
}

h2 {
  color: #6F7F7A;
  font-weight: bold;
  font-size: 2em;
}

#featured img {
  border: 5px rgb(152,173,166) solid;
}

#press {
  margin-bottom: 20px;
}

#press img {
  border: 5px #ccc solid;
  padding: 1px;
  }

  p {
  color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
  }
  
a img {
  transition: background-color 0.5s ease;

}

#press img:hover {
  background-color: green;
}


footer p.small {
  text-align: right;
  font-size: 0.8em;
}