/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
h1 {
    padding-bottom: 10px;
    margin: 0 0 5px;
    font-size: 5em;
    font-weight: bold;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
	src: '../fonts/Baskerville.ttc';
}

h2 {
    color: rgb(111,127,122);
    font-size: 2em;
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
    display: block;  
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div {
    display: block;
}

#featured img {
    border: 5px rgb(152,173,166) solid;
}

p {
    color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
}

header a {
    color: rgb(152,173,166);
    text-decoration: none;
}

#press img {
    border: 5px #ccc solid;
    padding: 1px;
}

#press img:hover {
    border: 5px rgb(111,127,122) solid;
}

footer {
    text-align: right;
	background: #fff;
	font-size: 0.8em;
}